@model List<HealthContent>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <p>@item.status</p>
    foreach (var result in @item.results)
    {
        <p>@result.name</p>
        <p>@result.status</p>
        <p>@result.description</p>
    }
}
